/*Using 8:9 (1.125) ratio modular scale */
html {
  margin: auto;
  font-family: Georgia, serif;
  font-size: 1em;
  line-height: 1.266em;
}

ul li {
  font-size: 1em; 
  line-height: 2em; 
  list-style-type: square;
  color: #5f1047;   
}


/* Jae-ger code */

#header{
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: white;
  text-align: center;
  margin: auto;
  font-size: .75em;
  line-height: 1.266em;
}

/* 
Additional Edits on Navigation
*/

#navigation ul,
#navigation li {
  display: block;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 1.125em;
  padding-left: 0.2em;
  padding-right: 0.8em;
  background-color: #D6CC9E; /*earth brown*/
  list-style-type: none;
  width: 100%;
  overflow: hidden;
}

/* 
Additional Edits on Navigation
*/

#navigation ul{

  opacity: .9;
  text-align: center;
  overflow: hidden;
}

#navigation li {
  list-style-type: none;
  display: inline;
}

#navigation li a {
  display: inline-block;
  color: black;
  text-align: center;
  text-decoration: none;
}

#navigation li a:hover {
  background-color: #C6C1A8; /*Earth grey color*/
}

li a.active {
    background-color: #CD8E3E;
    color: white;
}

body {
  font-family: 'Lato', sans-serif;
  text-align: center;
  background: url(../media/bk2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top center;
  margin-top: 30px;
}


#footer ul li {
  font-size: 1.266em; 
  line-height: 1.424em;
  list-style-type: none;
  color: #3561F4; /*bright blue*/  
  font: 1em Georgia, "Times New Roman", Times, serif;
}

/* Home */


/* About */


/* Events */
h1 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #58aec2;
  text-align: center;
  width: 50%;
  margin: auto;
}

table.center {
  width: 100%;
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
}

th {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #7d1047;
  text-align: center;
  height: 50px;
  margin:auto;
  border: 2px solid white;
}

.col {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-weight: bold;
  color: #84F2D7;
  text-align: center;
  width: 20%;
  height: 50px;
  border: 2px solid white;
}

td {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #7d1047;
  text-align: center;
  height: 50px;
  margin:auto;
  border: 2px solid white;
  /* background-color: black; */
  opacity: .8;
}

img{
  width:50%;
  min-width:80px;  
}

.cevent{
  width:75%;
  min-width:280px; 
  margin-left:auto;
  margin-right:auto;
}


/* Contacts */

fieldset{
  border: 3px solid gray;
  width: 25%;
  padding-bottom: 1.125em;
  margin: auto;
  background-color: #f1aa94;
  opacity: .75;
}

input{
  border: 2px solid #ccc;
  width: auto;
  padding: 6px 8px;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 6px 0;
}

.info{
  padding: 4px 4px;
  margin-top: 2px;
  margin-bottom: 6px;
}

.la{ 
  font-size: 28px; 
  font-weight: bold;
}


